<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Person Administration ...</title>
</head>
<body>
<h1>Person <span th:text="${person.personId}"> </span></h1>

<div>
  Here are your details
  <ul>
    <li> first name : <span th:text="${person.firstName}"></span></li>
    <li> last  name : <span th:text="${person.lastName}"></span></li>
  </ul>
</div>
<form action="#" th:action="@{/logout}" method="get">
  <span style="margin-left: 200px"><input type="submit" th:value="Logout" /></span>
</form>
</body>
</html>